<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
    <h1> my cart </h1>
    <a href="/product">products</a> <a href="/">home</a><br><br><br>

    <img src="https://waterbutlers.com/cdn/shop/products/water_600x.jpg?v=1591217018" height="100" width="100">
    <p>water x5 (unit price - 0.4$/ total - 2.00$)</p><br>
    <img src="https://www.goodnes.com/sites/g/files/jgfbjl321/files/styles/gdn_hero_pdp_product_image/public/gdn_product/field_product_images/digiorno-30a49779110ec80a3af2e6082010561b0dc1a649.png.webp?itok=FKHDpPVk" height="100" width="100">
    <p>frozen pizza x2 (unit price - 10.00$ / total - 20.00$)</p><br>
    <img src="https://www.almanac.com/sites/default/files/styles/or/public/image_nodes/cucumbers.jpg?itok=WJ4TKfY0" height="100" width="100">
    <p>cucmbers x0.5kg (unit price - 1$ / total - 0.5)</p><br>
</body>
</html>